{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block content %}
    <div class="col-sm-10">
        <h3 class="my-5">About Page</h3>
        
        <p class="lead">
            Este tipo de blog abarca cualquier comentarios de películas o series que recomiendes.
            Tambien puedes hacer una breve descripción o comentar en cuál plataforma se pueden ver.
        </p>

        <p class="lead">
            Las entradas típicas que se pueden encontrar en un blog de afiliación incluyen reseñas de
            productos o listas de «lo mejor». 
        </p>
             
    </div>
{% endblock content %}
